* {
    margin: 0;
    padding: 0;
    border: 1px solid black;   /* temp border to help with positioning */
}

html {
    align-items: center;
}

/*****HEADER*****/

header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    padding-left: 24px;
    height: 32px;
    align-items: center;
    justify-content: space-between;
}

.header-right {
    display: flex;
    padding-right: 8px;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav li {
    padding: 0 16px;
}

/* SECTION 1 */

.image-container {
    display: flex;
    background-color: lightgrey;
}

.image-container img {
    width: 60%;
    height: 100%;
    padding: 24px 32px;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}