* {
    margin: 0;
    padding: 0;
}

html {
    align-items: center;
}

/*****HEADER*****/

header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    padding-left: 24px;
    height: 32px;
    align-items: center;
    justify-content: space-between;
}

.header-right {
    display: flex;
    padding-right: 8px;
    align-items: center;
    justify-items: center;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav li {
    padding: 0 16px;
}