* {
    margin: 0;
    padding: 0;
    border: 1px solid black;   /* temp border to help with positioning */
}


html {
    align-items: center;
    font-family: Roboto;
}

:root {
    --dark-grey: #3c3b3d;
    --light-grey: #8e8e8e;
    --lighter-grey: #dfdfdf;
    --lightest-grey: #e9e9e9;
}

/*****HEADER*****/

nav {
   display: flex;
   justify-content: space-between;
   justify-items: center;
   align-items: center;
   height: 64px;
   padding: 1%;
   padding-left: 24px;
   padding-right: 16px;
   box-sizing: border-box;
}

nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    padding: 0.5em 0.5em;
}

nav a {
    text-decoration: none;
    color: var(--dark-grey);
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    height: 32px;
    box-sizing: border-box;
}

.logo > p {
    font-weight: bold;
    color:var(--dark-grey);
}

.logo > span {
    font-weight: medium;
    color: var(--light-grey);
}

/* SECTION 1 */

.start-container {
    display: flex;
    background-color: var(--lighter-grey);
    padding: 32px 24px;
}

.start-container button {
    background-color: var(--dark-grey);
    width: 100%;
    height: 3rem;
    cursor: pointer;
    color: white;
    font-family: Roboto;
    font-size: large;
}

.start-left {
    width: 60%;
}

.start-left img {
    width: 100%;
}

.start-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0 1%;
    padding: 0 2%;
}

.start-right > h1, h4 {
    padding: 5% 0;
    color: var(--dark-grey);
}

.start-right h1 {
    font-size: 3rem;
    font-weight: 900;
}

.start-right h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.start-right a {
    text-decoration: none;
    color: white;
}